/*
 * EdmundsVehicleAPI.PCL
 *
 * This file was automatically generated by APIMATIC BETA v2.0 on 01/27/2016
 */
using EdmundsVehicleAPI.PCL.Http.Client;
using EdmundsVehicleAPI.PCL.Http.Request;
using EdmundsVehicleAPI.PCL.Http.Response;
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace EdmundsVehicleAPI.PCL.Controllers
{
    public partial class SpecVehicleEquipmentController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static SpecVehicleEquipmentController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static SpecVehicleEquipmentController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new SpecVehicleEquipmentController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// Get list of equipment details for a specific style ID
        /// </summary>
        /// <param name="availability">Required parameter: Equipment availability (Acceptable values are: "", "standard", "optional")</param>
        /// <param name="callback">Required parameter: The callback function that the JSON response will be wrapped in if desired</param>
        /// <param name="equipmentType">Required parameter: Equipment category (Acceptable values are: "", "AUDIO_SYSTEM", "COLOR", "ENGINE", "MANUFACTURER", "MIRRORS", "OPTION", "OTHER", "TELEMATICS", "TIRES")</param>
        /// <param name="fmt">Required parameter: Response format (json only) (Acceptable values are: "json")</param>
        /// <param name="id">Required parameter: Edmunds vehicle style ID</param>
        /// <param name="name">Required parameter: Equipment category (Acceptable values are: "", "1ST_ROW_SEATS", "2ND_ROW_SEATS", "3RD_ROW_SEATS", "4TH_ROW_SEATS", "5TH_ROW_SEATS", "AIR_CONDITIONING", "AIRBAGS", "AUDIO_SYSTEM", "BRAKE_SYSTEM", "CARGO_DIMENSIONS", "COLLISION_SAFETY_SYSTEM", "COLOR", "CONVERTIBLE_ROOF", "DIFFERENTIAL", "DOORS", "DRIVE_TYPE", "DRIVER_SEAT", "ENGINE", "EXTERIOR_DIMENSIONS", "EXTERIOR_LIGHTS", "FRONT_PASSENGER_SEAT", "INSTRUMENTATION", "INTERIOR_DIMENSIONS", "MANUFACTURER", "MIRRORS", "MOBILE_CONNECTIVITY", "NAVIGATION_SYSTEM", "PARKING_AID", "POWER_OUTLETS", "SEATBELTS", "SEATING_CONFIGURATION", "SECURITY", "SPARE_TIRE/WHEEL", "SPECIFICATIONS", "STEERING", "STEERING_WHEEL", "STORAGE", "SUNROOF", "SUSPENSION", "TECHNOLOGY_FEATURE", "TELEMATICS", "TIRES", "TRAILER_TOWING_EQUIPMENT", "TRANSMISSION", "TRUCK_BED", "TRUNK", "VIDEO_SYSTEM", "WARRANTY", "WHEELS", "WINDOWS")</param>
        /// <return>Returns the dynamic response from the API call</return>
        public async Task<dynamic> GetEquipmentAsync(
                string availability,
                string callback,
                string equipmentType,
                string fmt,
                string id,
                string name)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/api/vehicle/v2/styles/{id}/equipment");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "id", id }
            });

            //process optional query parameters
            APIHelper.AppendUrlWithQueryParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "availability", availability },
                { "callback", callback },
                { "equipmentType", equipmentType },
                { "fmt", fmt },
                { "name", name },
                { "api_key", Configuration.ApiKey }
            });

            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<dynamic>(_response.Body);
            }
            catch (Exception ex)
            {
                throw new APIException("Failed to parse the response: " + ex.Message, _context);
            }
        }

    }
} 